* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 1440px;
    height: 1024px;
    overflow: hidden; 
  }
  
  
  .container {
    display: flex;
    width: 100vw;  /* ใช้ 100% ของ viewport width */
    height: 100vh; /* ใช้ 100% ของ viewport height */
  }
  

  .left-tab, 
  .right-tab {
    width: 35px;
    height: 1024px; 
    background-color: #B2BB1E;
    position: absolute;
    top: 0;
  }
  
  .left-tab {
    left: 0;
  }
  
  .right-tab {
    right: 0;
  }
  
  .content {
    flex-grow: 1; 
    display: flex;
    align-items: top;
    background-color: #ffffff;
    flex-direction: column; 
    align-items: center;
  }
  
  .ku-logo {
    background-image: url('src/assets/KU_logo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 109px; 
    height: 126px;
    margin-top: 8px;
  }
  
  .bottom-tab {
    position: absolute;
    margin-top: 143px;
    left: 0px; 
    right: 0px; 
    height: 28px; 
    background-color: #006664;
    z-index: 10;
}

.title {
    font-family: 'Inter', sans-serif;
    margin-top: 60px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58.09px;
    color: #035818;
}

.signup-page {
    position: absolute;
    background-color: #006664;
    display: flex;
    flex-direction: column;  
    width: 1204px;
    height: 613px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
}

.title2 {
  font-family: 'Sarabun', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58.09px;
    color: #ffffff;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 70px;
}

.email-title-signup {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 58.09px;
    color: #ffffff;
    margin-left: 292px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.email{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    line-height: 58.09px;
    color: #ffffff;
    margin-left: 292px;
    margin-bottom: 10px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.email-input {
    width: 619px;
    height: 43px;
    padding: 10px;
    padding-right: 40px; 
    font-size: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.checkbox-container {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-container input {
    width: 16px;
    height: 16px;
}


.next-signup-button {
    background-color: #ffffff; /* สีพื้นหลังของปุ่ม */
    color: black; /* สีข้อความ */
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.19px;
    border: 1px;
    border-color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px; 
    text-align: center; 
    width: 184px;
    height: 64px;
    margin-left: 510px;
    margin-top: 70px;
}







